/* This CSS is common to all pages */

body {
  margin: 0;
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.navitem {
  padding: 3px 10px;
  margin-right: 1em;
  color: #e5e5e5;
}
.navitem:hover {
  color: #e5e5e5;
}
.navitem.is-active {
  background-color: #191919;
  border-radius: 6px;
  padding: 8px;
}

thead {
  text-transform: uppercase;
}
td {
  font-size: 12px;
}
